<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="http://192.168.1.44:3000" />
    <add key="UpdateSigningPublicKey" value="" />
    <add key="ClientFlavor" value="win" />
    <add key="DiscoveryPort" value="33030" />
    <add key="DiskSerialOverrides" value="E823_8FA6_BF53_0001_001B_448B_4765_E563=24031Q804788" />
    <add key="BaseBoardSerialOverrides" value="" />
    <add key="OfflineStoreDirectory" value="" />
    <add key="OfflineStoreFileName" value="offline-assets.json" />
    <add key="ExcelExportDirectory" value="" />
    <add key="ExcelExportFileName" value="&#x8BA1;&#x7B97;&#x673A;&#x4FE1;&#x606F;&#x6838;&#x67E5;-{computer}-{timestamp}.xls" />
    <add key="AgentPollSeconds" value="30" />
    <add key="AgentUserName" value="" />
    <add key="AgentDepartment" value="" />
    <add key="AgentEmployeeId" value="" />
    <add key="AgentLocation" value="" />
    <add key="AgentPhone" value="" />
    <add key="AgentNote" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
